.actionStatus {
    line-height: 42px;
    display: flex;
    padding: 0 15px;
    font-size: 15px;
}

.selectAll {
    // flex: 1;
    margin: 0 8px 0 0;
}

.selectcount {
    flex: 1;
    text-align: right;
}

.layout {
    background: none;
    position: relative;
     :global(.am-list-body) {
        background: none;
    }
     :global(.am-list-item) {
        background: none;
    }
     :global(.am-list-ripple) {
        display: block !important;
    }
     :global(.am-whitespace) {
        background: rgba(0, 0, 0, .05);
    }
}

.watermark {
    position: relative;
    min-height: 100%;
    background-position: center;
}