.ApprovedContent {
    position: relative;
    min-height: 110px;
    background: #fff;
    margin: 10px 0 0;
    padding: 0 15px;
}

.title {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0 5px;
    border-bottom: 1px solid #eee;
}

.content {
    padding: 15px 0;
    line-height: 22px;
}

.workflowState {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: #f00;
}
