.userinfo {
    display: flex;
    line-height: 46px;
    height: 46px;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 0 15px;
}

.username {
    flex: 1;
    color: #108ee9;
    font-size: 18px;
}

.lists {
    font-size: 13px;
    color: #666;
    padding: 0 15px;
}

.tp {
    line-height: 44px;
}

.daka {
    position: relative;
    padding: 0 15px 20px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 5px;
        z-index: 9;
        background: #ccc;
    }
    &:before {
        width: 10px;
        height: 10px;
        left: 0;
        border-radius: 10px;
    }
    &:after {
        left: 4px;
        width: 1px;
        height: 100%;
    }
    .t1 {
        color: #000;
        margin: 0 0 10px;
    }
    .t2 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        .t20 {
            line-height: 24px;
            padding-bottom: 5px;
        }
        .t4 {
            color: #f00;
            font-size: 12px;
            display: inline-block;
            padding: 3px;
            border: 1px solid #f00;
            border-radius: 3px;
        }
    }
    .t3 {
        color: #999;
        margin: 10px 0;
        line-height: 22px;
    }
    .dakaup {
        color: #108ee9;
    }
}

.lastdaka {
    position: relative;
    padding: 0 15px 20px;
    &:before {
        content: "";
        position: absolute;
        top: 5px;
        z-index: 9;
        background: #ccc;
        width: 10px;
        height: 10px;
        left: 0;
        border-radius: 10px;
    }
}