.attendance {
    background: #fff;
    margin: 10px 0;
}

.detail {
    padding: 10px 15px;
}

.attendanceName {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 8px;
}

.shiftList {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 22px;
    color: #666;
}

.attendanceAdd {
    line-height: 22px;
    color: #666;
    :global(.iconfont) {
        font-size: 12px;
        color: #666;
        margin-right: 4px;
    }
}

.act {
    font-size: 13px;
    border-top: 1px solid #eee;
    padding: 10px 15px;
    text-align: right;
}

.a {
    color: #108ee9;
    display: inline-block;
    line-height: 28px;
    margin: 0 0 0 8px;
    padding: 0 8px;
    border: 1px solid #108ee9;
    border-radius: 4px;
}
