$titleSize: 44px;
.title {
    color: #000;
    text-align: left;
    min-height: $titleSize;
    font-size: 17px;
    line-height: $titleSize;
    margin-left: 0;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.item {
    &:after {
        content: '，';
    }
    &:last-child {
        &:after {
            content: '';
        }
    }
}