.title {
    font-size: 22px;
    line-height: 32px;
}

.info {
    display: block;
    color: #999;
    font-size: 14px;
    margin: 10px 0;
    line-height: 24px;
}

.content {
    font-size: 16px;
    line-height: 26px;
    text-indent: 2em;
    p,
    div {
        padding: 5px 0;
        text-indent: 2em;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}