.item {
    position: relative;
    display: flex;
    padding-left: 15px;
    min-height: 44px;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s;
}

.thumb {
    font-size: 22px;
    color: rgb(51, 163, 244);
}
