.avatar {
    width: 60px !important;
    height: 60px !important;
    margin: 10px 0;
}

.ewm {
    color: #888;
    width: 22px;
    height: 22px;
    font-size: 22px;
    display: inline-block;
}

.thumb {
    font-size: 22px;
    color: rgb(51, 163, 244);
}
