<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1,minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webrtc</title>
    <link rel="stylesheet" href="/test.css">
</head>

<body>
    <video id="local" class="main" autoplay playsinline></video>
    <button id='btn'>发送</button>
    <script src="https://cdn.bootcss.com/webrtc-adapter/6.2.1/adapter.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="/webrtc/webrtcsend.js"></script>
</body>

</html>