@import '../../../public/css/com.styl';
.user_detail_wrapper
  width 100%;
  height 100%;
  background: #fff;
  overflow: hidden;
  .openLayer
    width 100%;
    height 100%;
    position: relative;
    background: #000;
    z-index: 5
    img 
      width 98%;
      left: 1%;
      position: absolute
      top: 50%;
      transform: translateY(-50%)
  svg
    vertical-align middle
  .content_wrapper
    padding: .1rem .15rem
    .title
      width 100%;
      min-height .3rem;
      line-height .3rem;
      text-align: left;
      font-size .16rem;
      font-weight bold;
      textOverflow(2);
    .authortime
      min-height: .3rem;
      line-height .3rem
      font-size .12rem;
      color: #999;
      margin-top .05rem;
      span 
        margin-right .1rem
    .content
      width 100%;
      font-size .14rem;
      margin-top .06rem
      line-height 1.5
    .att
      // border-top 1px solid #ddd
      margin-top 0.15rem
      padding: .1rem .0rem;
    .isRead
      margin-top 0.08rem
      font-size .12rem
      color: $blue
    .not_img
      margin-top .1rem
.notice_wrapper 
  background: #fff;
  .choose_wrapper
    width: 100%;
    height 100%
    .choose 
      width: 0.65rem;
      height: 0.65rem;
      line-height .65rem
      border: 1px solid #eee;
      border-radius: 50%;
      text-align: center;
      // display inline-block
      float: left
      margin-top .1rem
      margin-right 0.1rem
      &.pp
        background: #1890FF
        color: #fff
        position: relative
        .close
          width: .13rem;
          height .13rem;
          line-height .12rem
          text-align center
          border-radius: 50%
          background: #000
          position: absolute
          right:.02rem
          top:-.01rem
          color:#fff
          Icon
            font-size 10px
      &.ch
        .cross 
          display: inline-block;
          width: 0.25rem;
          height: 1.3px;
          top: -.1rem;
          background: #eee;
          position: relative;
          &:after 
            content: '';
            background: #e3e3e3;
            height: 0.25rem;
            width: 1.3px;
            position: absolute;
            transform: translateY(-50%);
          .close 
            width: 0.15rem;
            height: 0.15rem;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            right: 0.1rem;
            top: 0.1rem;
  .uad_wrapper
    position: absolute
    top: .45rem
    width: 100%;
    height 100%;
    z-index: 10
    background #ffffff
  .person_count
    display inline-block
    float right
    color: #999;
    font-size .14rem
  .imgItem_wrapper
    width 100%  
    height .8rem;
    overflow: scroll
    .imgItem
      width: 1rem;
      height .6rem;
      display inline-block;
      position: relative
      margin-top .1rem
      margin-right 0.07rem
      & > .close
        width: .13rem;
        height .13rem;
        position: absolute
        top: -.05rem;
        right: -.08rem;
        background:rgba(#ddd,.9)
        font-size 10px
        text-align center
        color:#fff
        border-radius: 50%
        overflow: hidden
        svg
          width: 100%;
          height 100%;
          margin-right 0.2rem
      &> img 
        width: 100%;
        height 100%;
   
  .fileUpload
    width: 100%;
    bottom: 0;
    height .4rem;
    line-height .4rem;
    position: fixed
    background: #fff;
    padding: 0 .12rem
    input
      width: 0rem;
      height .4rem;
      display inline-block
    label
      width: .3rem;
      height .3rem;
      display inline-block
      vertical-align middle
      img 
        width: 100%;
        height 100%;  
    .attached
      float right
      font-size 10px;
      color:$blue;
      .attached_icon
       display inline-block
       width: .2rem;
       height .2rem; 
      img 
        width: 100%;
        height 100%;  


    

// 审批页面
.unl_wrappper
  width 100%;
  height 100%;
  text-align center
  .back 
    svg
      vertical-align: middle;
  .view_item 
    display: block
    // height .7rem;
    width:100%!important
    background #fff
    padding .1rem .13rem
    .autor
      margin-right .05rem  
    // .view_body 
    //   width: 100%
    //   display: flex
    .view_img 
      width: .3rem;
      height: .3rem;
      overflow: hidden
      &>img 
        width: 100%;
        height: 100%;
  .rn
    font-size .1rem;
    color #999;
  .no_newnotice
    width 100%;
    height .5rem;
    line-height .5rem;
    text-align center
    margin-top 0.1rem
    color:#999;
  .no_img
    width .5rem;
    height .5rem;
    display inline-block
    img 
      width 100%;
      height 100%;


.s_wrpper
  .s_title
    width 100%
    height .3rem;
    line-height .3rem
    padding-left .1rem
    // background: #eee
    font-size .13rem
    color: #999
  .s_cover
    display inline-block
    width .6rem;
    height .6rem;
    line-height .6rem
    border: 1px dashed #ddd
    text-align center 
    margin-top .05rem
    position: relative
    &.s_100
      img 
        width 100%;
        height 100%;
    img 
      width 80%
      height 80%
    .s_fileUpload
      width 100%;
      height 100%;
      opacity: 0;
      position: absolute;

  .s_close
    width .13rem
    height .13rem
    line-height .13rem
    position: absolute;
    top: -.05rem;
    right: -.07rem
    background:rgba(#999,.8);
    border-radius: 50%
    text-align center
    color: #fff;
    svg
      width 100%;
      height 100%
      vertical-align middle;
      font-size .1rem



//已读未读列表页
.isRead_wrapper
  width 100%;
  height 100%;
  position: fixed;
  top:0;
  left:0;
  background:#fff;
.isReadUser
  display: inline-block
  width .8rem;
  height .8rem;
  text-align center
  margin-top 0.1rem
  .top
    text-align center
    padding-left .1rem;
  .bottom
    font-size .12rem;
    margin-top 0.1rem